<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <jmxConfigurator/> <!-- This line is needed for Spring Boot Admin -->
    <property name="LOG_FILE" value="/tmp/log/services/person-service.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread - %logger{36}] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Keeping logs in gz for 5 days -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd.HH}.gz</fileNamePattern>
            <maxHistory>120</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <!-- logging level there has no effect, because it is overwritten with logging.level.* properties in application.properties file -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>